/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 a {
  text-decoration: none!important;
 }

.lang-icons {
  width: 100px;
  height: 100px;
  margin-left: 40px;
  margin-right: 40px;
}

.lang-card {
  border: 2px solid $purple;
  height: 125px;
  margin-top: 50px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  border-color: $blue;
}

// .lang-card:hover {
//   box-shadow: 4px 7px 22px -2px lighten(grey, 40%);
//   border-color: $blue;
//   background-color: lighten($blue, 60%);
// }

.language-name {
  font-weight: bold;
  font-size: 28px;
  color: $purple;
}

.exercise-count {
  color: $blue;
  font-size: 20px;
}
.push-footer {
  height: 200px;
}


div.signup {
  padding-left: 25px;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 25px;
  box-shadow: 2px 2px #888888;
  border: 1px solid $blue;
  border-radius: 5px;
}

div.not-signup{
  h1 {
    text-align: center;
  }
}

div.welcome-message {
  background-color: #637a91;
  border-radius: 5px 5px 0 0;
  color: white;
  p {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
}

div.sign-up-form {
  text-align: center;
}

#new_user {
  padding-right: 20px;
  padding-left: 20px;
}

div.email-field {
  text-align: left;
}

input.form-control {
  border-radius: 5px;
}
span.input-group-addon {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.btn-success {
  background-color: $blue;
  border-color: $blue;

}

.btn-success:hover {
  background-color: $purple;
  border-color: $purple;

}


h1.intro {
  text-align: center;
  color: $blue;
}
div.how-it-works {
  text-align: center;
  color: $purple;
  background-color: #F9FAFA;

}

.text-center {
  text-align: center;
  color: $blue;
  background-color: #F9FAFA;
}

.imgclass {
  width: 100%;
}


.featureicons {
  max-height: 250px;
  width: 100px;
}
