<div class="container-fluid">
  <h1>Languages</h1>

  <% @languages.each do |language| %>
  <%= link_to language do %>
  <div class="card col-md-3">
    <%= image_tag(language.icon, class: "lang-icons") %>
    <div class="card-block">
      <p class="language-name"><%= language.name %></p>
      <p class="exercise-count"><%= pluralize(language.exercises.count, "Exercise") %></p>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
