<div class="languages-wrapper">
  <% @languages.each do |language| %>
  <%= link_to language, class: "language-link" do %>
  <div class="card lang-card">
    <%= image_tag(language.icon, class: "lang-icons") %>
    <div class="card-block">
      <p class="language-name"><%= language.name %></p>
      <p class="exercise-count"><%= pluralize(language.exercises.count, "Exercise") %></p>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
<div class="push-footer">
</div>
