<div class="exercises-wrapper">
<div class="exercises-header">
<%= image_tag(@language.icon, class: "lang-icons") %>
<h1> <%= @language.name %> </h1>
</div>

<table class="table-exercises">
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @submission_array.each do |submission| %>
    <% exercise = submission[:exercise] %>
    <tr>
      <td class="exercise-title">
        <%= link_to exercise.title,
          exercise_work_spaces_path(:exercise => exercise),
          :method => :post %>
      </td>
      <td><%= exercise.description %></td>
      <% if submission[:completed] %>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
