<h4>Invite a user</h4>
<form action="/work_space_users" method="post">
  <input type="text" name="email" class="email" placeholder="user email address">
  <input type="hidden" name="workspace" value="<%= @workspace.id %>">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <button type="submit" class="btn btn-primary">Invite</button>
</form>
