<div class="container">
  <% @submissions.each do |submission|  %>
<div class="row">
  <div class="col-md-6">
    <h5><%= gravatar_for(submission.user)%> submitted by: <%= submission.user.email %> </h5>
    <div></div>
      <pre><%= submission.answer %> </pre>
    </div>
  </div>
  <% end %>
  </div>
