<div style="width: 400px; height: 300px;">
  <div id="video-conference">
    <div id="subscriber"></div>
    <div id="publisher"></div>
  </div>
</div>

<script src="https://static.opentok.com/v2/js/opentok.js"></script>
