<div style="width: 400px; height: 300px;">
  <div id="video-conference">
    <div id="subscriber"></div>
    <div id="publisher"></div>
  </div>
</div>

<% content_for(:after_js) do %>

<!-- <script src="https://static.opentok.com/v2/js/opentok.js"></script> -->
<script src="//www.opentok.com/webrtc/v2.2/js/opentok.min.js" ></script>

<script type="text/javascript">

$(document).ready(function() {

  initializeSession();

  $("#code-help").on("click", function() {
    $("#video-conference").slideToggle()
  });

});

function initializeSession() {
  OPENTOK_API_KEY = '45784152';
  session_id = '<%= @workspace.session_id %>';
  var session = OT.initSession(OPENTOK_API_KEY, session_id);

  // Subscribe to a newly created stream
  session.on('streamCreated', function(event) {
    session.subscribe(event.stream, 'subscriber', {
      insertMode: 'append',
      width: '100%',
      height: '100%'
    });
  });

  session.on('sessionDisconnected', function(event) {
    console.log('You were disconnected from the session.', event.reason);
  });

  // Connect to the session
  token = '<%= @tok_token %>'
  session.connect(token, function(error) {
    // If the connection is successful, initialize a publisher and publish to the session
    if (!error) {
      var publisher = OT.initPublisher('publisher', {
        insertMode: 'append',
        width: '100%',
        height: '100%'
      });
      $("#video-conference").hide();
      session.publish(publisher);
    } else {
      console.log('There was an error connecting to the session: ', error.code, error.message);
    }
  });
}
</script>

<% end %>
