<div class="container">
<div class="row"> <h1>Oops! Something went wrong!</h1> </div>
<br>
<div class="text-center"> <%= link_to 'Go Home!', root_path, :class => "btn btn-primary" %> </div>
</div>

<br>


<br>


<br>

<br>


<br>


<br>
