.collaborators {
  h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    color: $blue;
  }

  div {
    img {
      margin-right: 10px;
    }
    margin-bottom: 10px;
    color: lighten($blue, 20%);
  }
}
