.show-exercise-title {
  color: $blue;
  font-weight: bold;
  margin-left: 20px;
}

.exercise-instruction {
  color: lighten($purple, 30%);
  line-height: 26px;
}


.exercise-description {
  color: lighten($purple, 50%);
  margin-left: 20px;
}
